
.nav-item:hover {
  border-bottom: 3px solid #e0dcdc;
}
/*-----------------------------
-------------------------------
 PORTFOLIO
 ------------------------------
 ----------------------------*/
 .arrow {
     position: absolute;
     bottom: 40px;
     left: 50%;
     color: white;
 }
 .floating {
     animation-name: floating;
     animation-duration: 3s;
     animation-iteration-count: infinite;
     animation-timing-function: ease-in-out;
 }

 @keyframes floating {
     from { transform: translate(0,  0px); }
     65%  { transform: translate(0, 15px); }
     to   { transform: translate(0, 0px); }
 }
 .textOut{
     font-size: 50px;
     margin: 70px;
     border-bottom: 1px solid #e0dcdc;
 }
 .row123 {
    /* margin-top: 20px; */
 }
 .row345 {
     /* margin-top: 70px; */
     background: #f3f3f3;
 }
 .portfolio-text {
     margin-top: 60px;
 }
 .portfolio-text2 {
    margin-top: 100px;
 }
 .mockup > img {

 }
.homeRow {
    position: relative;
}
.homePic {
    height: 400px;
    width: 100%;
    position: absolute;
    background-image: url('https://images.unsplash.com/photo-1509718443690-d8e2fb3474b7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=540f14856de81b9306b3bfc870827fe7&auto=format&fit=crop&w=1050&q=80');
    background-size: cover;
    background-position: center 0;
}
#mainText {
    color: white;
    font-weight: 600;
    font-size: 40px;
    padding-left: 60px;
    padding-top: 160px;
}
#type1 {
    color: white;
    font-size: 30px;
    padding-left: 60px;
}
input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.diby1 {
    font-size: 40px;
}
.learned {
    font-size: 20px;
}
.backImg {
    background-color: #060629e6;
}
#experience {
    position: relative;
}
#experience:after {
    content: "";
    background: url('/img/shape.png') scroll bottom left repeat-x;
    position: absolute;
    width: 100%;
    height: 182px;
    float: left;
    left: 0;
    bottom: 0;
}
.comTitle {
    padding-left: 295px;
}
.socialCircle {
    height: 40px;
    width: 40px;
}
.sideIcon:hover {
    color: white;
}
.sideIcon {
    color: white;
    font-size: 25px;
}
.sidenav {
    width: 130px;
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 5px;
    overflow-x: hidden;
    display: table;
    padding-left: 20px;
    padding-top: 100px;
}

.sidenav a {
    text-decoration: none;
    display: table-cell;

}

.sidenav a:hover {
    color: #064579;
}
.aCircles {
    border-radius: 223px;
    border: 1px solid black;
    width: 40px;
    height: 40px;
    background: black;
}
